*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    height:100vh;
    background: linear-gradient(135deg,#667eea,#764ba2);
    display:flex;
    justify-content:center;
    align-items:center;
}

.auth-container{
    width:100%;
    display:flex;
    justify-content:center;
}

.auth-box{
    width:380px;
    padding:40px;
    background:rgba(255,255,255,0.15);
    backdrop-filter:blur(15px);
    border-radius:20px;
    box-shadow:0 8px 32px rgba(0,0,0,0.3);
    text-align:center;
}

.auth-box h2{
    color:white;
    margin-bottom:20px;
}

.auth-box input,
.auth-box select{
    width:100%;
    padding:12px;
    margin:10px 0;
    border:none;
    border-radius:10px;
    outline:none;
}

.auth-box button{
    width:100%;
    padding:12px;
    background:#ff7a18;
    color:white;
    border:none;
    border-radius:10px;
    font-weight:bold;
    cursor:pointer;
    transition:.3s;
}

.auth-box button:hover{
    background:#ff5722;
}

.auth-box p{
    margin-top:15px;
    color:white;
}

.auth-box a{
    color:#ffd700;
    text-decoration:none;
}