{% extends 'core/base.html' %}
{% block content %}

<div class="card">

<h2>Complaints</h2>

<a href="{% url 'complaint_create' %}">+ Add Complaint</a>
<a href="{% url 'complaint_resolve' c.id %}">Mark Resolved</a>

<table width="100%" style="margin-top:20px">
<tr>
<th>Subject</th>
<th>Status</th>
<th>Action</th>
</tr>

{% for c in complaints %}
<tr>
<td>{{ c.subject }}</td>
<td>{{ c.status }}</td>
<td>
<a href="{% url 'complaint_delete' c.id %}"
   onclick="return confirm('Are you sure you want to delete?')">
   Delete
</a>
</td>
</tr>
{% endfor %}

</table>

</div>

{% endblock %}