{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Login - E Society</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<div class="auth-container">
    <form method="POST" class="auth-box">
        {% csrf_token %}
        <h2>Welcome Back</h2>

        <input type="email" name="email" placeholder="Email">
        <input type="password" name="password" placeholder="Password">

        <button type="submit">Login</button>

        <p>New user? <a href="{% url 'signup' %}">Create account</a></p>
    </form>
</div>

</body>
</html>