{% extends "base.html" %}

{% block content %}

<h2>Payments</h2>

<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

{% for payment in payments %}
    <div class="card">
        <h3>{{ payment.maintenance.month }} Maintenance</h3>
        <p>Amount: ₹{{ payment.maintenance.amount }}</p>

        Status:
        {% if payment.status == "PAID" %}
            <span class="resolved">Paid</span>
        {% else %}
            <span class="pending">Unpaid</span><br><br>

            <button onclick="payNow('{{ payment.id }}')"
                style="padding:8px; background:green; color:white; border:none;">
                Pay Now
            </button>
        {% endif %}

        <br><small>{{ payment.maintenance.due_date }}</small>
    </div>
{% empty %}
    <p>No bills available</p>
{% endfor %}

<script>
function payNow(paymentId) {
    fetch(`/create-payment/${paymentId}/`)
    .then(res => res.json())
    .then(data => {

        var options = {
            "key": data.key,
            "amount": data.amount,
            "currency": "INR",
            "name": "HabitaFlow",
            "description": "Maintenance Payment",
            "order_id": data.order_id,

            "handler": function (response){

                fetch("/verify-payment/", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                        "X-CSRFToken": "{{ csrf_token }}"
                    },
                    body: JSON.stringify({
                        razorpay_order_id: data.order_id,   // ✅ IMPORTANT
                        razorpay_payment_id: response.razorpay_payment_id,
                        razorpay_signature: response.razorpay_signature
                    })
                })
                .then(res => res.json())
                .then(result => {
                    if(result.status === "success"){
                        alert("Payment Successful ✅");
                        location.reload();
                    } else {
                        alert("Payment Failed ❌");
                    }
                });
            }
        };

        var rzp = new Razorpay(options);
        rzp.open();
    });
}
</script>

{% endblock %}