<div class="sidebar p-3">
    <h5 class="text-center mb-4">Dashboard</h5>

    <a href="{% url 'dashboard' %}"><i class="bi bi-speedometer2"></i> Dashboard</a>
    <a href="{% url 'member_list' %}"><i class="bi bi-people"></i> Members</a>
    <a href="{% url 'flat_list' %}"><i class="bi bi-building"></i> Flats</a>
    <a href="{% url 'maintenance_list' %}"><i class="bi bi-cash-stack"></i> Maintenance</a>
    <a href="{% url 'payment_list' %}"><i class="bi bi-credit-card"></i> Payments</a>
    <a href="{% url 'complaint_list' %}"><i class="bi bi-exclamation-circle"></i> Complaints</a>
    <a href="{% url 'visitor_list' %}"><i class="bi bi-person-badge"></i> Visitors</a>
    <a href="{% url 'notice_list' %}"><i class="bi bi-megaphone"></i> Notices</a>
</div>